* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
p {
  margin: 9px;
  font-size: 16px;
}
.selected {
  color: blue;
}
.highlight {
  background: yellow;

}

h3 {
  color: blue;
  margin: 8px;
}
b {
  color: red;
}
